<?xml version="1.0" encoding="utf-8"?><properties xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.mathsoft.com/extended-properties"><appVersion>5.0.0.0</appVersion><serializationVersion architecture="x64" Culture="pt-BR" UiCulture="pt-BR">5.0.0.0</serializationVersion><engineVersion>5.0.0.3</engineVersion><build>2018.08.05.001</build><schemaPropertiesList><schemaProperties name="App" version="1.3.4" /><schemaProperties name="Calculation" version="1.3.1" /><schemaProperties name="Integration" version="1.3.1" /><schemaProperties name="Math" version="5.4.2" /><schemaProperties name="Presentation" version="1.4.1" /><schemaProperties name="Provenance" version="1.3.1" /><schemaProperties name="Result" version="1.5.1" /><schemaProperties name="SimpleTypes" version="1.3.1" /><schemaProperties name="Units" version="12.3.1" /><schemaProperties name="Worksheet" version="5.5.3" /></schemaPropertiesList></properties>